<div *ngIf="eventList" class="container">

    <div class="header">
        <a class="title" [href]="href" target="_blank">
            <i class="material-icons">calendar_today</i>
            {{eventList.summary}}
        </a>
    </div>

    <div class="events-container">

        <div *ngFor="let event of eventList.items" class="event">
            <a class="event-title" [href]="event.htmlLink" target="_blank">{{event.summary}}</a>
            <p *ngIf="event.start.date && !isMultiDay(event)" class="event-time">
                <i class="material-icons">access_time</i>
                {{event.start.date | date:"EEEE, MMMM d, yyyy"}}
            </p>
            <p *ngIf="event.start.dateTime && !isMultiDay(event)" class="event-time">
                <i class="material-icons">access_time</i>
                {{event.start.dateTime | date:"EEEE, MMMM d, yyyy 'at' h:mm a"}}
            </p>
            <p *ngIf="isMultiDay(event)" class="event-time">
                <i class="material-icons">access_time</i>
                {{event.start.date | date:"EEEE, MMMM d, yyyy"}}
                &mdash;
                {{getInclusiveEndDate(event) | date:"EEEE, MMMM d, yyyy"}}
            </p>
            <p *ngIf="event.location" class="event-location">
                <i class="material-icons">location_on</i>
                {{event.location}}
            </p>
            <p *ngIf="event.description" class="event-description" [innerHTML]="trustHtml(event.description)"></p>
        </div>

    </div>

</div>